<div class="section-layout">
  <div class="section-layout__bg" style="background-image: url(img/section-layout-bg.png);">&nbsp;</div>
  <div class="section-layout__container">
    <div class="breadcrumbs">
      <ul>
        <li>
          <a href="/">Главная</a>
        </li>
      </ul>
    </div>
    <div class="section-layout__title">
      <h2 class="title-section">наши партнёры</h2>
    </div>
    <div class="section-layout__content">
      <div class="section-layout__content-centered">
        <div class="section-layout__row">
          <div class="section-layout__column section-layout__column--partner">
            <a class="card-third-link" href="#">
              <div class="card-third-link__img-wrap">
                <img class="card-third-link__img" src="../img/card-third.png" alt="">
              </div>
              <div class="card-third-link__body">
                <div class="card-third-link__title">
                  Center of Allergy <br>
                  & Immunology
                </div>
              </div>
            </a>
          </div>
          <div class="section-layout__column section-layout__column--partner">
            <a class="card-third-link" href="#">
              <div class="card-third-link__img-wrap">
                <img class="card-third-link__img" src="../img/card-third-2.png" alt="">
              </div>
              <div class="card-third-link__body">
                <div class="card-third-link__title">
                  International Network <br>
                  of Universities og Molecular <br>
                  Allergology <br>
                  and Immunology
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <a class="link-third" href="partners.html">
      <span class="link-third__txt">Сертификаты</span>
      <div class="link-third__icon-wrap">
        <svg class="link-third__icon svg-icon"><use xlink:href="../img/svgSprite.svg#arrow-long"></use></svg>
      </div>
    </a>
  </div>
</div>