<div class="section-layout">
  <div class="section-layout__bg" style="background-image: url(img/section-layout-bg.png);">&nbsp;</div>
  <div class="section-layout__container">
    <div class="breadcrumbs">
      <ul>
        <li>
          <a href="/">Главная</a>
        </li>
      </ul>
    </div>
    <div class="section-layout__title">
      <h2 class="title-section">Наши врачи</h2>
    </div>
    <div class="section-layout__content">
      <div class="section-layout__content-list">
        <a class="card-secondary" href="#">
          <div class="card-secondary__img-wrap">
            <img class="card-secondary__img" src="../img/card-secondary-img.jpg" alt="">
          </div>
          <div class="card-secondary__body">
            <div class="card-secondary__scroll">
              <p><strong>Эксперт международного класса, профессор, доктор медицинских наук, общий стаж практики в аллергологии более 45 лет. </strong></p>
              <p>Директор грузинского Центра аллергии и иммунологии Тбилиси, Вице-президент Грузинской Ассоциации аллергологии и клинической иммунологии.</p>
              <p>Член Европейской Ассоциации аллергологов и клинических иммунологов, программ-директор курса резидентуры по детской аллергологии и клинической иммунологии Тбилисского Государственного медицинского университета.</p>
            </div>
          </div>
        </a>
        <a class="card-secondary" href="#">
          <div class="card-secondary__img-wrap">
            <img class="card-secondary__img" src="../img/card-secondary-img.jpg" alt="">
          </div>
          <div class="card-secondary__body">
            <div class="card-secondary__scroll">
              <p><strong>Эксперт международного класса, профессор, доктор медицинских наук, общий стаж практики в аллергологии более 45 лет. </strong></p>
              <p>Директор грузинского Центра аллергии и иммунологии Тбилиси, Вице-президент Грузинской Ассоциации аллергологии и клинической иммунологии.</p>
              <p>Член Европейской Ассоциации аллергологов и клинических иммунологов, программ-директор курса резидентуры по детской аллергологии и клинической иммунологии Тбилисского Государственного медицинского университета.</p>
            </div>
          </div>
        </a>
        <a class="card-secondary" href="#">
          <div class="card-secondary__img-wrap">
            <img class="card-secondary__img" src="../img/card-secondary-img.jpg" alt="">
          </div>
          <div class="card-secondary__body">
            <div class="card-secondary__scroll">
              <p><strong>Эксперт международного класса, профессор, доктор медицинских наук, общий стаж практики в аллергологии более 45 лет. </strong></p>
              <p>Директор грузинского Центра аллергии и иммунологии Тбилиси, Вице-президент Грузинской Ассоциации аллергологии и клинической иммунологии.</p>
              <p>Член Европейской Ассоциации аллергологов и клинических иммунологов, программ-директор курса резидентуры по детской аллергологии и клинической иммунологии Тбилисского Государственного медицинского университета.</p>
            </div>
          </div>
        </a>
        <a class="card-secondary" href="#">
          <div class="card-secondary__img-wrap">
            <img class="card-secondary__img" src="../img/card-secondary-img.jpg" alt="">
          </div>
          <div class="card-secondary__body">
            <div class="card-secondary__scroll">
              <p><strong>Эксперт международного класса, профессор, доктор медицинских наук, общий стаж практики в аллергологии более 45 лет. </strong></p>
              <p>Директор грузинского Центра аллергии и иммунологии Тбилиси, Вице-президент Грузинской Ассоциации аллергологии и клинической иммунологии.</p>
              <p>Член Европейской Ассоциации аллергологов и клинических иммунологов, программ-директор курса резидентуры по детской аллергологии и клинической иммунологии Тбилисского Государственного медицинского университета.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="section-layout__button-more">
        <a class="button-third" href="#">+ еще</a>
      </div>
    </div>
    <a class="link-third" href="partners.html">
      <span class="link-third__txt">Инструментальные исследования </span>
      <div class="link-third__icon-wrap">
        <svg class="link-third__icon svg-icon"><use xlink:href="../img/svgSprite.svg#arrow-long"></use></svg>
      </div>
    </a>
  </div>
</div>