<div class="section-layout">
  <div class="section-layout__bg" style="background-image: url(img/section-layout-bg.png);">&nbsp;</div>
  <div class="section-layout__container">
    <div class="breadcrumbs">
      <ul>
        <li>
          <a href="/">Главная</a>
        </li>
      </ul>
    </div>
    <div class="section-layout__title">
      <h2 class="title-section">Лабороторные исследования</h2>
    </div>
    <div class="section-layout__content">
      <select class="form-select-secondary" id="select-services" data-select data-select-class="form-select-secondary">
        <option value="0">Гематологические исследования</option>
        <option value="1">Гематологические исследования</option>
        <option value="2">Гематологические исследования</option>
        <option value="3">Гематологические исследования</option>
      </select>
      <div class="list-third">
        <ul>
          <li>
            <div class="list-third__item-in">
              <div class="column">Общий анализ крови развернутый </div>
              <div class="column">60 000 UZS</div>
            </div>
          </li>
          <li>
            <div class="list-third__item-in">
              <div class="column">Общий анализ крови развернутый </div>
              <div class="column">60 000 UZS</div>
            </div>
          </li>
          <li>
            <div class="list-third__item-in">
              <div class="column">Общий анализ крови развернутый </div>
              <div class="column">60 000 UZS</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <a class="link-third" href="partners.html">
      <span class="link-third__txt">Инструментальные исследования</span>
      <div class="link-third__icon-wrap">
        <svg class="link-third__icon svg-icon"><use xlink:href="../img/svgSprite.svg#arrow-long"></use></svg>
      </div>
    </a>
  </div>
</div>