<div class="section-layout">
  <div class="section-layout__bg" style="background-image: url(img/section-layout-bg.png);">&nbsp;</div>
  <div class="section-layout__container">
    <div class="breadcrumbs">
      <ul>
        <li>
          <a href="/">Главная</a>
        </li>
      </ul>
    </div>
    <div class="section-layout__title">
      <h2 class="title-section">история создания</h2>
    </div>
    <div class="section-layout__content">
      <div class="content content-about">
        <p>
          <img src="img/content-about-img.jpg" alt="">
        </p>
        <p>Международный центр аллергии IAC (International Allergy Center)- организован 28.10.2019
          на базе НДЦЛТ De Factum Laboratories совместно с Грузинским центром аллергологии и иммунологии "Center of
          Allergy & Immunology" - универсальным центром в Закавказье, который в течении 20 лет, в едином пространстве,
          обеспечивают полную диагностику и лечение аллергических заболеваний. Более того, Международный центр аллергии
          является клинической базой Международного центра молекулярной аллергологии (МЦМА) при Министерстве
          Инновационного развития РУз.</p>
      </div>
      <div class="carousel-about">
        <div class="swiper-container" data-carousel="about">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="carousel-about__slide-in">
                <img class="carousel-about__img" src="img/carousel-about-img-2.jpg" alt="">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="carousel-about__slide-in">
                <img class="carousel-about__img" src="img/carousel-about-img.jpg" alt="">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="carousel-about__slide-in">
                <img class="carousel-about__img" src="img/carousel-about-img-3.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev swiper-button-prev--about"><svg class="svg-icon"><use xlink:href="img/svgSprite.svg#arrow-long"></use></svg></div>
        <div class="swiper-button-next swiper-button-next--about"><svg class="svg-icon"><use xlink:href="img/svgSprite.svg#arrow-long"></use></svg></div>
      </div>
    </div>
    <a class="link-third" href="partners.html">
      <span class="link-third__txt">Наши партнёры</span>
      <div class="link-third__icon-wrap">
        <svg class="link-third__icon svg-icon"><use xlink:href="../img/svgSprite.svg#arrow-long"></use></svg>
      </div>
    </a>
  </div>
</div>