<div class="section-layout">
  <div class="section-layout__bg" style="background-image: url(img/section-layout-bg.png);">&nbsp;</div>
  <div class="section-layout__container">
    <div class="breadcrumbs">
      <ul>
        <li>
          <a href="/">Главная</a>
        </li>
      </ul>
    </div>
    <div class="section-layout__title">
      <h2 class="title-section">сертификаты</h2>
    </div>
    <div class="section-layout__content">
      <div class="section-layout__row">
        <div class="section-layout__column section-layout__column--sertificate">
          <a class="card-fourth-link" href="#">
            <div class="card-fourth__img-wrap">
              <img class="card-fourth__img" src="../img/card-fourth.png" alt="">
            </div>
          </a>
        </div>
        <div class="section-layout__column section-layout__column--sertificate">
          <a class="card-fourth-link" href="#">
            <div class="card-fourth__img-wrap">
              <img class="card-fourth__img" src="../img/card-fourth.png" alt="">
            </div>
          </a>
        </div>
      </div>
    </div>
    <a class="link-third" href="partners.html">
      <span class="link-third__txt">История создания</span>
      <div class="link-third__icon-wrap">
        <svg class="link-third__icon svg-icon"><use xlink:href="../img/svgSprite.svg#arrow-long"></use></svg>
      </div>
    </a>
  </div>
</div>