<div class="section-layout">
  <div class="section-layout__bg" style="background-image: url(img/section-layout-bg.png);">&nbsp;</div>
  <div class="section-layout__container">
    <div class="breadcrumbs">
      <ul>
        <li>
          <a href="/">Главная</a>
        </li>
      </ul>
    </div>
    <div class="section-layout__title">
      <h2 class="title-section">Что мы лечим</h2>
    </div>
    <div class="section-layout__content">
      <select class="form-select-secondary" id="select-services" data-select data-select-class="form-select-secondary">
        <option value="0">Бронхиальная астма</option>
        <option value="1">Бронхиальная астма</option>
        <option value="2">Бронхиальная астма</option>
        <option value="3">Бронхиальная астма</option>
      </select>
      <div class="content content-faq">
        <p>Астма является хроническим заболеванием, для которого характерны периодически повторяющиеся приступы удушья и свистящеe дыханиe, тяжесть и частота которых варьируются у разных людей.</p>
        <p>Астма - это состояние, при котором ваши дыхательные пути сужаются, набухают и выделяют дополнительную слизь. что затрудняет дыхание и вызвает кашель, хрипы и одышку.</p>
        <p> Cимптомы</p>
        <p>- быть редкие приступы астмы, симптомы могут проявляться только в определенное время, например при физической нагрузке, или симптомы могут быть постоянными</p>
        <p>Одышка</p>
        <p>Стеснение в груди или боль</p>
        <p>Проблемы со сном, вызванные одышкой, кашлем или хрипом</p>
        <p>Свистящий или хрипящий звук при выдохе (одышка является частым признаком астмы у детей)</p>
        <p>Приступы кашля или хрипов, которые усиливаются респираторным вирусом, таким как простуда или грипп</p>
        <p>Для некоторых людей признаки астмы вспыхивают в определенных ситуациях:</p>
        <p> Астма, вызванная физическими упражнениями, которая может быть хуже, когда воздух холодный и сухой</p>
        <p>Профессиональная астма, вызванная раздражителями на рабочем месте, такими как химические пары, газы или пыль</p>
        <p>Астма, вызванная аллергией, вызванная переносимыми по воздуху веществами, такими как пыльца, споры плесени, отходы таракана или частички кожи и </p>
        <p>высушенная слюна, выделяемая домашними животными (перхоть домашних животных)</p>
      </div>
    </div>
    <a class="link-third" href="partners.html">
      <span class="link-third__txt">Аллергический ринит</span>
      <div class="link-third__icon-wrap">
        <svg class="link-third__icon svg-icon"><use xlink:href="../img/svgSprite.svg#arrow-long"></use></svg>
      </div>
    </a>
  </div>
</div>