.form-search-header-sizes {
  min-width: 4.875em;
  min-height: 5em;
}

.form-search-header-sizes-active {
  height: 16em;
  border-radius: 0 8em 8em 0;
  @include media(d, $xl) {
    height: 12em;
  };
  @include media(d, $md) {
    height: 10em;
  };
}

.form-search-header {
  position: relative;
  display: inline-block;
  @extend .form-search-header-sizes;
  
  &.active {
    .form-search-header__form {
      // position: fixed;
      right: 0;
      margin-top: -4em;
      z-index: 11;
      
      @extend .form-search-header-sizes-active;
      transition:
        margin-top .2s linear 0s,
        left .2s linear 0s;
      @include media(d, $sm) {
        margin-top: -3em;
      };
      &:before {
        width: 100%;
        right: 0;
        @extend .form-search-header-sizes-active;
        transform: translate(0, 0);
        transition:
          width 0s linear 0s,
          height .2s linear 0s,
          border-top-left-radius 0s linear 0s,
          border-top-right-radius 0s linear 0s,
          border-bottom-right-radius 0s linear 0s,
          border-bottom-left-radius 0s linear 0s,
          transform 0s linear 0s;
      }
      @include media(d, $sm) {
        right: 5%;
      };
    }
    .form-search-header__button {
      font-size: 3.75rem;
      top: 10%;
      right: 1%;
      transition:
      top .2s linear 0s,
      right .2s linear 0s,
      font-size .2s linear 0s;
      @include media(d, $sm) {
        font-size: 2.75rem;
      };
    }
    .form-search-header__form-group {
      opacity: 1;
      visibility: visible;
      transition: .2s linear .2s;
    }
  }
}

.form-search-header__form {
  // position: fixed;
  position: absolute;
  @extend .form-search-header-sizes;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: -.8em;

    width: 3.75em;
    height: 3.75em;
    border-radius: 50%;

    background-color: var(--color-font-attention);
  }
}

.form-search-header__button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  @extend .button-clear;
  padding: 0.56em;
  font-size: var(--size-form-search-text-base);
}

.form-search-header__form-group {
  position: absolute;
  top: 50%;
  left: 15%;
  right: 7%;
  z-index: 1;
  transform: translate(0, -50%);
  margin-top: 1.5em;

  opacity: 0;
  visibility: hidden;
  @include media(d, $xl) {
    right: 100px;
    // margin-top: 0;
  };
  @include media(d, $md) {
    left: 20px;
    margin-top: 1em;
  };
  @include media(d, $sm) {
    left: 20px;
    right: 60px;
    margin-top: 1em;
  };
}

.form-search-header__input {
  @extend .button-clear;
  border-bottom: 1px solid var(--border-color-fourth);
  width: 95%;
  padding-bottom: 1em;

  font-size: var(--size-form-search-text-base);
  line-height: 1;
  color: var(--color-font-base);
  font-weight: 300;
  text-align: left;

  background: transparent !important;
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    -webkit-appearance:none;
  }
  &::-internal-autofill-selected {
    background-color: transparent !important;
  }
  &:focus {
    background: transparent;
  }
  @include iph() {
    color: var(--color-font-base);
    font-weight: 300;
  }
  @include media(d, $md) {
    padding-bottom: 0.5em;
  };
}