.custom-scroll {
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    background-color: var(--background-color-base);
    border: 1px solid var(--background-color-sixth);
    // border: 1px solid var(--border-color-base-secondary);
    border-radius: 5px;
    // width: 10px;
    // background: #f1f1f1;
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
    // background: #888;
    // background-color: var(--background-color-sixth);
    background-color: var(--border-color-base-secondary);
    border-radius: 5px;
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    // background: #555;
  }
}