.card-third-link {
  @extend .card-third;
  @extend .card-link-normalize;
  @extend .transition-base;
  
  &:hover {
    transform: scale(.95, .95);
    box-shadow: none;
  }
}


.card-third-link__img-wrap {
  @extend .card-third__img-wrap;
}
.card-third-link__img {
  // @extend .card-third__img;
}
.card-third-link__body {
  @extend .card-third__body;
}
.card-third-link__title {
  @extend .card-third__title;
}