.card {
  display: block;
  // max-width: 610px;
}

.card__img-wrap {
  width: 100%;
  // height: 490px;
  // height: 30.65em;
  border: 1px solid var(--border-color-base-secondary);
  border-radius: 1em;
  overflow: hidden;
  @extend .transition-base;
}
.card__img {
  width: 100%;
  // height: 100%;
  // object-fit: cover;
}
.card__body {
  padding-top: 2em;
  padding-bottom: 2em;
  @include media(m, $xll) {
    padding-top: 3.2em;
    padding-bottom: 2em;
  };
}
.card__title {
  @extend .title-fourth;
  font-weight: 800;
}

@import './card-link';
@import './card-secondary';
@import './card-third';
@import './card-third-link';
@import './card-fourth';
@import './card-fourth-link';
@import './card-specialist';