.card-specialist {
  @extend .card;
  max-width: 300px;
}
.card-specialist__img-wrap {
  @extend .card__img-wrap;
  height: 363px;
}
.card-specialist__img {
  @extend .card__img;
}
.card-specialist__body {
  padding-top: 3em;
  padding-bottom: 2em;
}
.card-specialist__body-margin {
  margin-bottom: .2em;
}
.card-specialist__name {
  @extend .card-specialist__body-margin;
  font-size: var(--size-title-fifth);
  font-weight: 800;
  color: var(--color-font-base);
  text-transform: uppercase;
}
.card-specialist__position {
  @extend .card-specialist__body-margin;
  font-size: var(--size-title-fifth);
  font-weight: 700;
  color: var(--color-font-secondary-less-light);
}
.card-specialist__appoitment {
  margin-top: 0.5em;
  font-size: var(--size-text-base);
  color: var(--color-font-base-lighter);
  line-height: 1.2;
}