.card-fourth {
  @extend .card-third;
  // max-width: 595px;
  // min-height: 720px;
}
.card-fourth__img-wrap {
  padding: 2em;
  @include media(m, $lg) {
    padding: 3em;
  };
  @include media(m, $xll) {
    padding: 4.375em;
  };
}
.card-fourth__img {
  @extend .card__img;
}