.card-fourth-link {
  @extend .card-fourth;
  @extend .card-link-normalize;
  @extend .transition-base;
  &:hover {
    transform: scale(.95, .95);
    box-shadow: none;
  }
}
.card-fourth-link__img-wrap {
  @extend .card-fourth__img-wrap;
}
.card-fourth-link__img {
  @extend .card-fourth__img;
}