.card-secondary {
  position: relative;
  display: block;
  max-width: 1325px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--border-color-base-secondary);

  text-align: center;
  text-decoration: none;
  color: var(--color-font-base);

  border-radius: 25px;
  overflow: hidden;
  @extend .transition-base;
  @include media(m, $md) {
    // height: 530px;
    height: 33.125em;
    text-align: left;
  };
  &:hover {
    color: var(--color-font-base);
    background-color: var(--background-color-base);
    box-shadow: 0.975px 7.94px 51.46px 10.54px var(--box-shadow-color-secondary);
  }
}
.card-secondary__img-wrap {
  max-width: 26em;
  margin: 0 auto;
  padding: 2em 1.5em;
  @include media(m, $md) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 0;
    margin: 0;
    width: 23em;
  };
  @include media(m, $md) {
    @include media(d, $lg) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    };
  };
  @include media(m, $lg) {
    // width: 425px;
    width: 26.5625em;
  };
}
.card-secondary__img {
  @extend .card__img;
  height: 100%;
  @include media(d, $md) {
    border-radius: 25px;
  };
}
.card-secondary__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 1em 1.5em;
  @include media(m, $md) {
    @include media(d, $lg) {
      padding: 2em 2em 2em 26em;
    };
  };
  @include media(m, $lg) {
    padding: 3.125em 3.125em 3.125em 37em;
  };
  @include media(m, $xll) {
    padding: 3.125em 3.125em 3.125em 33.125em;
  };
  p {
    margin-bottom: 1.5em;
    @include media(m, $xll) {
      margin-bottom: 2em;
    };
  }
}

.card-secondary__scroll {
  @extend .custom-scroll;
  @include media(md, $md) {
    max-height: 350px;
    padding-right: 60px;
  };
}