.card-link {
  @extend .card;
  @extend .card-link-normalize;
  text-decoration: none;
  &:hover {
    .card__img-wrap {
      transform: scale(.98, .98);
    }
  }
}
.card-link__img-wrap {
  @extend .card__img-wrap;
}
.card-link__img {
  @extend .card__img;
}
.card-link__body {
  @extend .card__body;
}
.card-link__title {
  @extend .card__title;
}