.card-third {
  display: block;
  // width: 470px;
  // min-height: 520px;
  border: 1px solid var(--border-color-base-secondary);
  border-radius: 1.5em;
  background-color: var(--background-color-base);
  box-shadow: 0px 2em 3.5em 0px var(--box-shadow-color-base);
  
}

.card-third__img-wrap {
  // height: 320px;
  height: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-third__img {
}
.card-third__body {
  padding: 1em 1em 4em 1em;
}
.card-third__title {
  @extend .text-primary;
  font-weight: 700;
  text-align: center;
}