.footer {
  position: relative;
  padding-top: 2em;
  padding-bottom: 1em;
}
.footer__bg {
  position: absolute;
  right: 0;
  bottom: -6em;

  width: 65%;
  height: 30.125em;

  background-image: url('../img/footer-bg.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}
.footer__container {
  @extend .container;
  @extend .container--secondary;
}
.footer__row {
  @extend .row;
  align-items: center;
  justify-content: space-between;
}
.footer__column {
  @extend .column;
  margin-bottom: 2em;
}

.footer__row-secondary {
  @extend .row;
  align-items: center;
}
.footer__column-secondary {
  @extend .column;
  margin-bottom: 1em;
}
.logo-footer {
}
.footer__title {
  @extend .text-secondary;
  font-weight: 800;
  color: var(--color-font-secondary);
  margin-bottom: 0.3em;
}
.footer__description {
  font-size: var(--size-text-sub);
  color: var(--color-font-base-light);
  line-height: 1.2;
}

.footer__designer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  line-height: 1;
}
.footer__designer-title {
  margin-right: .625em;
  color: var(--color-font-secondary-lighter);  
}
.footer__designer-logo {
  display: block;
  max-width: 90px;
}