.lang-header {
  position: relative;
  display: inline-block;
  padding: 1.25em;
  cursor: pointer;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-10%, 30%);

    width: 2.33em;
    height: 2.33em;
    border-radius: 50%;

    background-color: var(--background-color-fourth);
  }
  ul {
    @extend .list-clear;
    display: flex;
    flex-wrap: nowrap;

    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);

    opacity: 0;
    visibility: hidden;


    // background-color: var(--background-color-fourth);
  }
  li {
    @extend .column;
    &:hover {
      a {
        transform: translate(0, -0.1em);
      }
    }
    &.active {
      a {
        color: var(--color-font-attention);
      }
    }
  }
  a {
    display: block;
    font-size: var(--size-text-base);
    color: var(--color-font-fifth);
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    // @extend .transition-base;
  }
  &:hover {
    &:before {
      // width: 220px;
      width: 12em;
      height: 2.7em;
      top: 1.02em;
      right: 0.85em;
      transform: translate(0, 0);
      border-radius: 1.25em;
      transition:
        width .2s linear 0s,
        height .2s linear 0s;
    }
    ul {
      right: 2.8em;
      opacity: 1;
      visibility: visible;
      transition:
        opacity .2s linear .2s,
        visibility .2s linear .2s;
    }
  }
}
.lang-header__in {
  position: relative;
}
.lang-header__icon-wrap {

}
.lang-header__svg-icon {
  font-size: var(--size-icon-base);
  color: var(--color-font-base);
}