.section-layout {
  position: relative;
  overflow: hidden;
  padding-top: 2em;
  padding-bottom: 5em;
  @include media(m, $md) {
    padding-top: 4em;
    padding-bottom: 8em;
  };
  @include media(m, $xll) {
    padding-top: 8em;
    padding-bottom: 13.75em;
  };
  .breadcrumbs {
    margin-bottom: .7em;
    @include media(m, $xll) {
      margin-bottom: 1.5em;
    };
  }
  .card-secondary {
    margin-bottom: 3em;
    @include media(m, $md) {
      margin-bottom: 4em;
    };
    @include media(m, $xll) {
      margin-bottom: 7em;
    };
  }
  .form-select-secondary {
    max-width: 850px;
    margin-bottom: 2em;
    @include media(m, $md) {
      margin-bottom: 3em;
    };
    @include media(m, $xll) {
      margin-bottom: 4em;
    };
  }
  .link-third {

  }
}
.section-layout__container {
  @extend .container;
}

.section-layout__title {
  // margin-bottom: 1em;
  margin-bottom: 2.8em;
  @include media(m, $xll) {
    margin-bottom: 1.8em;
  };
}

.section-layout__content-centered {
  max-width: 1100px;
}

.section-layout__row {
  @extend .row;
  justify-content: center;
  @include media(m, $xll) {
    justify-content: space-between;
  };
}

.section-layout__column-margin {
  margin-bottom: 2em;
  @include media(m, $md) {
    margin-bottom: 3em;
  };
  @include media(m, $xll) {
    margin-bottom: 4em;
  };
}
.section-layout__column {
  @extend .column;
  @extend .section-layout__column-margin;
  &--sertificate {
    width: 100%;
    max-width: 595px;
    @include media(m, $xl) {
      max-width: 50%;
      flex: 0 0 50%;
    };
    @include media(m, $xxl) {
      max-width: 45%;
      flex: 0 0 45%;
    };
  }
  &--partner {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    .card-third-link {
      flex-grow: 1;
    }
  }
  &--video {
    width: 100%;
    max-width: 600px;
    @include media(m, $md) {
      max-width: 46%;
      flex: 0 0 46%;
    };
  }
}
.section-layout__column-secondary {
  @extend .column;
  @extend .section-layout__column-margin;
}

.section-layout__content {
  margin-bottom: 3em;
  @include media(m, $xll) {
    margin-bottom: 10em;
  };
  @include media(m, $xxl) {
    margin-bottom: 15em;
  };
}
.section-layout__button-more {
  max-width: 216px;
  margin: 0 auto;
}

.section-layout__bg {
  position: absolute;
  bottom: -3em;
  left: 0;

  width: 70%;
  height: 49em;

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  @include media(d, $lg) {
    display: none;
  };
}

@import './section-layout-about'