<footer class="footer">
  <div class="footer__bg">&nbsp;</div>
  <div class="footer__container">
    <div class="footer__row">
      <div class="footer__column">
        <div class="footer__row-secondary">
          <div class="footer__column-secondary">
            <a class="logo-footer" href="/">
              <img src="img/logo-small.png" alt="">
            </a>
          </div>
          <div class="footer__column-secondary">
            <div class="footer__title">International Allergy Center</div>
            <div class="footer__description">Информация, представленная на сайте, не может быть использована для постановки диагноза, <br> назначения лечения и не заменяет прием врача.</div>
          </div>
        </div>
      </div>
      <div class="footer__column">
        <div class="footer__designer">
          <div class="footer__designer-title">Created by</div>
          <a class="footer__designer-logo" href="#" target="_blank">
            <img src="img/logo-designer.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>