// GLOBAL CONFIG VARIABLES
// ============================


:root {
  --font-family-primary: 'Zona Pro';

  --size-base: 12px;
  --size-base-md: 13px;
  --size-base-xxl: 16px;

  --size-title-extra: 6.125em;
  --size-title-primary: 4.5rem;
  --size-title-primary-secondary: 3.75rem;
  --size-title-primary-third: 2.75rem;
  --size-title-secondary: 2.25rem;
  --size-title-third: 1.875rem;
  --size-title-fourth: 1.5rem;
  --size-title-fifth: 1.125rem;
  --size-title-sixth: 1rem;

  --size-text-primary: 1.25rem;
  --size-text-secondary: 1.125rem;
  --size-text-base: 1rem;
  --size-text-sub: 0.875rem;
  
  --size-icon-base: 2.25rem;

  --size-form-search-text-base: 2.25rem;
  --size-form-search-text-secondary: 4rem;


  --color-font-base: #000;
  --color-font-base-light: rgba(0, 0, 0, .7);
  --color-font-base-lighter: rgba(0, 0, 0, .6);
  --color-font-base-lightest: rgba(0, 0, 0, .5);
  --color-font-secondary: #323232;
  --color-font-secondary-lighter: rgba(43, 43, 43, 0.6);
  --color-font-secondary-light: rgba(50, 50, 50, .4);
  --color-font-secondary-less-light: rgba(50, 50, 50, .9);
  --color-font-attention: #f9d64a;
  --color-font-third: #009f9c;
  --color-font-fourth: #1b9a9d;
  --color-font-fifth: #fff;
  --color-font-fifth-secondary: rgba(255, 255, 255, .15);
  --color-font-sixth: rgba(255, 255, 255, .4);
  --color-font-error: red;

  --border-color-base: #0b0b0d;
  --border-color-base-secondary: #cfcfcf;
  --border-color-secondary: rgba(0, 98, 101, .4);
  --border-color-third: rgba(255, 255, 255, .2);
  --border-color-fourth: #323232;
  --border-color-fifth: #1b9a9d;
  --border-color-error: red;
  --border-color-seventh: #fff;
  
  --box-shadow-color-base: rgba(0, 0, 0, 0.06);
  --box-shadow-color-secondary: rgba(21, 26, 30, 0.03);
  --box-shadow-color-third: rgba(21, 26, 30, 0.19);
  --box-shadow-color-fourth: rgba(21, 26, 30, 0.07);
  
  --background-color-base: #fff;
  --background-color-base-lighter: rgba(255, 255, 255, .2);
  --background-color-secondary: #f9d64a;
  --background-color-third: #009f9c;
  --background-color-fourth: #1b9a9d;
  --background-color-sixth: #f4f3f3;
  --background-color-seventh: #f5f5f5;
  --background-color-eigth: rgba(0, 0, 0, .5);
  --background-color-ten: #f3f3f3;

  --container-width-primary: 1370px;
  --container-width-secondary: 1655px;
  --row-indents: -15px;
  --column-indents: 15px;
}


// ============================
// ============================