.button-third {
  @extend .button-clear;
  display: block;
  width: 100%;
  padding: 1.8em 1em;
  border: 1px solid var(--border-color-base-secondary);

  font-size: var(--size-title-fifth);
  color: var(--color-font-base-lightest);
  
  border-radius: 2.5em;
  @extend .transition-base;
  &:hover {
    color: var(--color-font-base-lightest);
    transform: scale(.95, .95);
  }
}