.button {
  @extend .button-clear;
  display: block;
  width: 100%;
  padding: 1.45em 1em;
  border-radius: 3em;

  font-size: var(--size-title-fourth);
  color: var(--color-font-secondary);
  font-weight: 600;
  line-height: 1.3;
  text-decoration: none;
  text-align: center;

  background-color: var(--background-color-secondary);
  @extend .transition-base;
  &.active {
    color: var(--color-font-fifth);
    background-color: var(--background-color-fourth); 
    box-shadow: .5em .5em .85em .1em rgba(21, 26, 30, 0.11);
    &:hover {
      color: var(--color-font-fifth);
    }
  }
  &:hover {
    color: var(--color-font-secondary);
    transform: scale(.95, .95);
  }
}

@import './button-secondary';
@import './button-third';
@import './button-menu';
// @import './mods/close-menu';
// @import './mods/control';