<div class="loader" data-loader>
  <div class="loader__in">
    <div class="loader__frame">
      <img class="loader__logo-txt" src="img/logo-txt.svg" alt="">
      <div class="loader__layers-wrap">
        <div class="loader__layer loader__layer--secondary" style="background-image: url('img/loader/layer-red-dark.svg')">&nbsp;</div>
        <div class="loader__layer loader__layer--primary" style="background-image: url('img/loader/layer-red.svg')">&nbsp;</div>
      </div>
    </div>
  </div>
</div>