.img-thumb-base {
  position: relative;
  width: 12.5em;
  height: 11.25em;
  border: 1px solid var(--border-color-seventh);

  border-radius: 3.125em;
  background-position: 50% 50%;
  background-size: cover;
  box-shadow: -2.756px 9.613px 16px 0px var(--box-shadow-color-fourth);
  // .img-thumb__img {
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  // }
}