.list-third {
  ul {
    @extend .list-clear;
  }
  li {
    padding: 1em 2.5em;
    border: 1px solid var(--border-color-base-secondary);
    margin-bottom: 0.5em;

    font-size: var(--size-title-fourth);
    line-height: 1.25;
    font-weight: 300;
    color: var(--color-font-base);

    border-radius: 2em;
    background-color: var(--background-color-seventh);
    &:nth-child(even) {
      background-color: var(--background-color-base);
    }

  }
}

.list-third__item-in {
  @extend .row;
  flex-direction: column;
  @include media(m, $md) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  };
  .column {
    @include media(d, $md) {
      padding-top: 0.3em;
      padding-bottom: 0.3em;
    };
  }
}