.list-contact {
  color: var(--color-font-fourth);
  font-size: var(--size-text-secondary);
  margin-bottom: 2.5em;
  h5 {
    font-weight: 800;
    color: var(--color-font-secondary);
    margin-bottom: 1em;
  }
  ul {
    @extend .list-clear;
  }
  li {
    margin-bottom: .5em;
  }
}

.list-contact__group {
  h5 {
    color: var(--color-font-fourth);
    font-weight: 700;
    margin-bottom: 0.5em;
  }
  div {
    margin-bottom: 0.5em;
  }
}