.list-menu {
  ul {
    @extend .list-clear;
  }
  & > ul {
    display: flex;
    flex-wrap: wrap;
    @extend .custom-scroll-secondary;
    & > li {
      &.active {
        font-weight: 900;
      }
      &:hover {
        & > ul {
          opacity: 1;
          visibility: visible;
          transition: linear .2s;
        }
        & > a {
          @include media(m, $xl) {
            transform: translate(0, -0.27em);
            transition: linear .2s;
          };
        }
      }
    }
  }
  li {
    position: relative;
    & > a {
      display: block;
      padding-top: .6em;
      padding-bottom: .6em;
      padding-left: var(--column-indents);
      padding-right: var(--column-indents);
      text-transform: uppercase;
      text-decoration: none !important;
      font-size: var(--size-text-secondary);
      line-height: 1;
      color: var(--color-font-base);
      // transition: linear .2s;

    }
    & > ul {
      position: absolute;
      top: 100%;
      left: 15px;
			z-index: 11;

      width: 380px;
      // margin-top: 10px;
      padding: 1em 2em;
      border-radius: 0 1.5625em 1.5625em 1.5625em;

      background-color: var(--background-color-fourth);
      opacity: 0;
      visibility: hidden;
      // transition: linear .2s;

      @extend .list-dots;
      li {
        &:hover {
          a {
            &:before {
              background-color: var(--background-color-secondary) !important;
            }
          }
        }
        &:last-child {
          a {
            &:after {
              display: none;
            }
          }
        }
      }
      a {
        display: block;
        padding: 2em 2.2em;

        font-weight: 700;
        color: var(--color-font-fifth);
        text-decoration: none !important;
        line-height: 1.5;
        &:before {
          top: 2.35em !important;
          background-color: var(--background-color-base-lighter) !important;
        }
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 2.2em;
          right: 2.2em;
  
          border-top: 1px solid var(--border-color-secondary);
          border-bottom: 1px solid var(--border-color-third);
        }
      }
    }
  }
  @include media(d, $xll) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99;

    background-color: var(--background-color-eigth);
    transform: translate(-130%, 0);
    & > ul {
      position: absolute;
      top: 0;
      left: 0;

      flex-direction: column;
      flex-wrap: nowrap;
      height: 100%;
      width: 280px;
      padding: 5em 1.5em 3em;

      background-color: var(--background-color-fourth);
      overflow-y: scroll;
    }
    li {
      margin-bottom: 1em;
      & > a {
        color: var(--color-font-fifth);
      }
      & > ul {
        position: static;
        // padding: 0;
        padding-left: 1.15em;
        padding-right: 0;

        opacity: 1;
        visibility: visible;

        background-color: transparent;
        width: auto;
        li {
          margin-bottom: 0;
        }
        a {
          padding-right: 0;
          padding: 1.2em 0 1.2em 2em;
          &:before {
            top: 1.45em !important;
          }
        }
      }
    }
    &.active {
      transform: translate(0, 0);
      transition: linear .2s;
    }
  };
}


.list-menu__close {
  @extend .button-clear;
  position: absolute;
  top: 1em;
  right: 1em;

  font-size: var(--size-title-secondary);
  color: var(--color-font-fifth);

  @include media(m, $xl) {
    display: none;
  };
}