.list-dots {
  ul {
    @extend .list-clear;
  }
  li {
    line-height: 1;
    & > * {
      position: relative;
      display: block;
      padding-left: 1em;
      text-decoration: none;
      color: var(--color-font-base);
      &:not(ul) {
        &:before {
          content: '';
          position: absolute;
          top: 2px;
          left: 0;
    
          width: 0.75em;
          height: 0.75em;
          border-radius: 50%;
    
          background-color: var(--background-color-fourth);
        }
      }
    }
    &:hover {
      &:before {
        background-color: var(--background-color-secondary);
      }
    }
  }
}