.link-third {
  position: relative;
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 2.5em 0 2.5em 3.33em;
  font-size: var(--size-text-secondary);
  color: var(--color-font-base);
  font-weight: 800;
  text-decoration: none !important;
  text-transform: uppercase;
  &:before {
    content: '';
    
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    // z-index: -1;
    
    width: 5.55em;
    height: 5.55em;
    border-radius: 50%;
    
    background-color: var(--background-color-secondary);
    @extend .transition-base;
  }
  &:hover {
    color: var(--color-font-base);
    &:before {
      // transform: translate(0, -50%) scale(.9, .9);
      width: 5em;
      height: 5em
    }
    .link-third__icon-wrap {
      transform: translate(.5em, 0);
    }
  }
}
.link-third__txt {
  position: relative;
  margin-right: 1.25rem;
}

.link-third__icon-wrap {
  position: relative;
  flex-shrink: 0;
  @extend .transition-base;
}
.link-third__icon {
  height: 0.25em;
  line-height: 0.25em;
  color: var(--color-font-fourth);
  font-size: var(--size-form-search-text-secondary);
}