.link {
  color: var(--color-font-secondary);
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

@import './link-secondary';
@import './link-third';
@import './link-third-secondary';