.link-secondary {
  font-size: var(--size-text-secondary);
  color: var(--color-font-fourth);
  text-decoration: none;
  &:hover {
    color: var(--color-font-fourth);
    text-decoration: underline;
  }
}