.link-third-secondary {
  @extend .link-third;
  color: var(--color-font-fifth);
  &:hover {
    color: var(--color-font-fifth);
  }
}

.link-third-secondary__txt {
  @extend .link-third__txt;
}
.link-third-secondary__icon-wrap {
  @extend .link-third__icon-wrap;
  
}
.link-third-secondary__icon {
  @extend .link-third__icon;
  color: var(--color-font-sixth);
}