.form-select-secondary {
  .choices__inner {
    min-height: auto;
    padding: 1.4em 2.5em;
    // padding-bottom: 1em;
    border: 1px solid var(--border-color-base-secondary);
    border-radius: 2em;
    
    font-size: var(--size-text-primary);
    font-weight: 700;
    line-height: 1;
    
    background-color: var(--background-color-base);
  }
  &[data-type*=select-one] {
    &:after {
      border-color: var(--border-color-fifth) transparent transparent;
      right: 2em;
      border-width: 0.4em;
      margin-top: -0.1em;
    }
    .choices__inner {
      padding-bottom: 1.5em;
    }
    &.is-open {
      &:after {
        border-color: transparent transparent var(--border-color-fifth);
        margin-top: -0.6em;
      }
    }
  } 
  .choices__list {
    &--single {
      padding: 0;
    }
    &--dropdown {
      margin-top: 1em;
      border-color: var(--border-color-base-secondary);
      border-radius: .625em;
      box-shadow: 0.975px 7.94px 51.46px 10.54px var(--box-shadow-color-secondary);
    }
  }
  .choices__item {
    font-size: var(--size-text-primary);
    &.is-selected {
      // background-color: var(--border-color-base-secondary);
      // color: var(--color-font-fifth);
    }
  }
  .choices__input {
    font-size: var(--size-text-primary);
  }
}