@import 'choices.js/public/assets/styles/choices.min';

.form-select {
  .choices__inner {
    min-height: auto;
    padding: 0;
    padding-bottom: 1em;
    border: none;
    border-bottom: 1px solid var(--border-color-fifth);
    
    font-size: var(--size-text-secondary);
    font-style: italic;
    line-height: 1;
    
    background-color: transparent;
  }
  &[data-type*=select-one] {
    &:after {
      top: 5px;
      border: none;
      width: 8px;
      height: 8px;
      border-left: 1px solid var(--border-color-fifth);
      border-bottom: 1px solid var(--border-color-fifth);
      transform: rotate(-45deg);
    }
    .choices__inner {
      padding-bottom: 1em;
    }
    &.is-open {
      &:after {
        transform: rotate(135deg);
        margin-top: 0;
        border-color: var(--border-color-fifth);
      }
    }
  } 
  .choices__list {
    &--single {
      padding: 0;
    }
    &--dropdown {
      border-color: var(--border-color-fifth);
      .choices__list {
        max-height: 200px;
        @include media(d, $md) {
          max-height: 150px
        };
      }
    }
  }
  .choices__item {
    font-size: var(--size-text-base);
    &.is-selected {
      background-color: var(--background-color-fourth);
      color: var(--color-font-fifth);
    }
  }
  .choices__input {
    font-size: var(--size-text-secondary);
  }
  
}

@import './form-select-secondary';