<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script> -->
<link rel="stylesheet" href="css/styles.css">
<script src="js/svg4everybody.js"></script>
<script src="js/swiper-bundle.min.js"></script>
<script src="js/choices.js"></script>
<script src="js/main.js"></script>