.section {
  position: relative;
}
.section__container {
  @extend .container;
}
.section__container-secondary {
  padding-left: var(--column-indents);
  padding-right: var(--column-indents);
}

.section__content {
  margin-bottom: 2em;
}
.section__row {
  @extend .row;
}
.section__row-secondary {
  @extend .row;
}
.section__row-flex {
  display: flex;
  flex-wrap: wrap;
}
.section__column {
  @extend .column;
}
.section__column-secondary {
  @extend .column;
}
.section__des-title {
  margin-bottom: 3em;
  @include media(m, $xll) {
    margin-bottom: 6.5em;
  };
}
.section__des-title-img {
  width: 100%;
}
.section__title {
  margin-bottom: 5.25em;
  h2 {
    font-weight: 800;
    text-transform: uppercase;
    color: var(--color-font-secondary);
  }
}
.section__title-secondary {
  @extend .section__title;
  h2 {
    color: var(--color-font-fifth);
  }
}

.section__text-center {
  @extend .text-center;
}


@import './section-specialists';
@import './section-contacts';
@import './section-offer';
@import './section-mission';
@import './section-advantages';