.section-contacts {
  .section__centered {
    max-width: 1150px;
    margin: 0 auto;
  }
  .section__row {
    justify-content: space-between;
    @include media(m, $sm) {
      flex-wrap: nowrap;
    };
  }
  .section__column {
    &--info {
      max-width: 280px;
      @include media(m, $sm) {
        flex-shrink: 0;
      };
    }
    &--form {
      max-width: 675px;
    }
  }
  .section__title-sub {
    margin-bottom: 2em;
  }
  .section__description {
    @extend .font-color-base-light;
    margin-bottom: 4em;
  }
}