.section-advantages {
  position: relative;
  padding: 3em 0;
  overflow: hidden;
  @include media(m, $md) {
    padding: 8em 0;
  };
  @include media(m, $xll) {
    padding: 17em 0;
  };
  .section__container {
    position: relative;
    z-index: 2;
  }
  .section__container-secondary {
    margin-bottom: 5em;
    @include media(m, $md) {
      max-width: 600px;
    };
    @include media(m, $lg) {
      max-width: 800px;
    };
    @include media(m, $xl) {
      max-width: 1030px;
    };
  }
  .section__row {
    counter-reset: section;
  }
  .section__row-secondary {
    align-items: center;
    @include media(m, $md) {
      flex-wrap: nowrap;
    };
  }
  .section__column-secondary {
    width: 100%;
    &--nav {
      @include media(m, $md) {
        max-width: 42%;
        flex: 0 0 42%;
      };
    }
    &--list {
      @include media(m, $md) {
        max-width: 58%;
        flex: 0 0 58%;
      };
    }
  }
  .section__column-secondary-in {
    max-width: 562px;
  }
  .button {
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 460px;
    min-height: 4.16em;
    margin-bottom: 1em;
    padding: 1em 2.5em;

    text-align: left;
  }
  .section__content {
    h2 {
      color: var(--color-font-secondary);
      margin-bottom: 1em;
    }
    .list-base {
      li {
        line-height: 1.5;
      }
    }
  }
}

.section__column {
  
  &--advantages {
    width: 100%;
    margin-bottom: 2em;
    @include media(d, $md) {
      @include media(m, $sm) {
        max-width: 50%;
        flex: 0 0 50%; 
      };
    };
    @include media(m, $lg) {
      max-width: 50%;
      flex: 0 0 50%;
      margin-bottom: 7.8em;
    };
    &:before {
      display: block;
      counter-increment: section;
      content: '0'counter(section);
      font-size: var(--size-title-primary);
      color: var(--color-font-attention);
      font-weight: 800;
      text-transform: uppercase;
    }
    .section__column-in {
      padding-left: 3em;
      max-width: 390px;
    }
  }
}

.section__more-advantages {
  position: relative;
  padding: 4em 1em;
  @include media(m, $md) {
    padding: 7em 0;
  };
  &:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    
    background-color: var(--background-color-ten);
    @include media(m, $md) {
      width: 81%;
    };
  }
}
.section__more-advantages-bg {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 81%;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  @include media(d, $md) {
    display: none;
  };
  @include media(m, $lg) {
    width: 58%;
  };
}


.section__background-advantages-top {
  position: absolute;
  top: -17.3em;
  left: -1em;

  width: 62.5%;
  height: 49em;

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  @include media(d, $lg) {
    display: none;
  };
  @include media(m, $xll) {
    top: -9.3em;
    left: -3em;
  };
}
.section__background-advantages-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;

  width: 71%;
  height: 51em;

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  @include media(d, $xll) {
    display: none;
  };
}

.section__background-advantages-first {
  position: absolute;
  top: 0;
  right: 10%;
  
  width: 45em;
  height: 45em;
  
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  @include media(d, $md) {
    display: none;
  };
  @include media(m, $md) {
    right: 5%;
  };
  @include media(m, $lg) {
    right: 0;
  };
  @include media(m, $xl) {
    right: 5%;
  };
  @include media(m, $xxl) {
    right: -17em;
  };
}

.section__background-advantages-first-img {
	border-radius: 50%;
	// border: 0.3125em solid var(--border-color-seventh);
  @include media(d, $xxl) {
    position: absolute;
    top: 40%;
    right: 0;
    transform: translate(0, -50%);
  };
  @include media(m, $xxl) {
    position: absolute;
  };
	&--first {
    @include media(d, $xxl) {
      right: 20%;
      transform: translate(0, -100%);
      width: 15em;
      height: 15em;
    };
    @include media(m, $xxl) {
      left: 10%;
      top: 0;
      width: 18em;
      height: 18em;
    };
	}
	&--second {
    @include media(d, $xxl) {
      transform: translate(0, -20%);
      width: 18.625em;
      height: 18.625em;
    };
    @include media(m, $xxl) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20.625em;
      height: 20.625em;
    };
	}
	&--third {
    @include media(d, $xxl) {
      right: 15%;
      transform: translate(0, 90%);
      width: 12.625em;
      height: 12.625em;
    };
    @include media(m, $xxl) {
      bottom: 0;
      left: 50%;
      transform: translate(-70%, 0);

      width: 15.625em;
      height: 15.625em;
    };
	}
}