.section-mission {
  padding: 7em 0 5em;
  background-color: var(--background-color-fourth);
  color: var(--color-font-fifth);
  @include media(m, $xl) {
    padding: 10em 0;
  };
  .section__row {
    margin-bottom: 1em;
    @include media(m, $xl) {
      margin-bottom: 2em;
    };
  }
  .img-thumb {
    margin-bottom: 2em;
    @include media(m, $xl) {
      margin-bottom: 3em;
    };
  }
  .section__content {
    max-width: 800px;
    line-height: 1.7;
  }
  .section__row-flex {
    @include media(m, $xll) {
      align-items: center;
    };
    @include media(d, $xll) {
      flex-direction: column;
    };
  }
  .link-third-secondary {
    @include media(m, $xll) {
      margin-left: -3.5em;
    };
  }
}
.section__column {
  &--mission {
    width: 100%;
    // margin-bottom: 3em;
    @include media(m, $xll) {
      max-width: 50%;
      flex: 0 0 50%;
      padding-right: 3.43em;
      // margin-bottom: 0;
    };
  }
}
