.section-specialists {
  padding: 5.25em 0;
  &:before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 370px;
    z-index: -1;

    background: var(--background-color-fourth); 
  }
  .section__container {
    @extend .container--secondary;
  }
}
