.swiper-button {
  top: 70px;
  transform: translate(0, 0);

  display: block;
  width: auto;
  height: auto;


  font-size: 4rem;
  color: var(--color-font-sixth);
  @include media(d, $md) {
    top: 3.8em;
    // bottom: 0;
    color: var(--color-font-fourth);
    // border: 1px solid var(--border-color-fifth);
    background-color: rgba(#fff, .5);
    border-radius: 10px;
  };
  @include media(m, $xl) {
    font-size: 3rem;
  };
  &:focus {
    outline: none;
  }
  &:hover {
    @include media(m, $md) {
      color: var(--color-font-fifth);
    };
  }
  &:after {
    display: none;
  }
}

.carousel-specialists {
  position: relative;
  padding-bottom: 6em;
  @include media(m, $md) {
    padding: 0 5.875em 0;
  };
  .swiper-container {
    width: 100%;
  }
  .swiper-button-prev {
    @extend .swiper-button;
    transform: rotate(-180deg);
    @include media(d, $md) {
      left: 0;
      // right: 50%;
      // margin-right: 15px;
    };
    .svg-icon {
      margin-bottom: 10px;
    }
  }
  .swiper-button-next {
    @extend .swiper-button;
    
    @include media(d, $md) {
      right: 0;
      // right: auto;
      // margin-left: 15px;
    };
    
  }
  .card-specialist {
    margin-left: auto;
    margin-right: auto;
  }
}

