.carousel-about {
  position: relative;
  @include media(d, $lg) {
    padding-bottom: 6em;
  };
  .swiper-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include media(m, $lg) {
      height: 37.5em;
    };
  }
  .swiper-slide-active {
    @include media(m, $lg) {
      z-index: 9999;
      .carousel-about__img {
        transform: translate(-50%, -50%) scale(1.7, 1.7);
        transition: linear .2s;
      }
    };
  }
  .swiper-button-prev, .swiper-button-next {
    position: absolute;
    bottom: 0;
    top: auto;

    width: auto;
    height: auto;

    font-size: 6em;
    color: var(--color-font-fourth);
    @include media(m, $lg) {
      font-size: 8.4375em;
    };
    &:after {
      display: none;
    }
    &:focus {
      outline: none;
    }
  }
  .swiper-button-prev {
    transform: rotate(180deg);
    left: .4em;
    &:hover {
      left: .3em;
      @extend .transition-base;
    }
  }
  .swiper-button-next {
    right: .4em;
    &:hover {
      right: .3em;  
      @extend .transition-base;
    }
  }
}

.carousel-about__slide-in {
  position: relative;
  width: 100%;
  @include media(m, $lg) {
    height: 19.375em;
  };
}
.carousel-about__img {
  border-radius: 1em;
  border: 1px solid var(--border-color-seventh);
  box-shadow: -5.393px 2.63px 35px 0px var(--box-shadow-color-third);
  @include media(m, $lg) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 50% 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 100%;
    height: 100%;
  };
}