.carousel-offer {
  position: relative;
  padding-bottom: 5em;
  .swiper-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5em;
    padding-bottom: 5em;
    @include media(m, $sm) {
      min-height: calc(100vh - 15em);
    };
    @include media(m, $lg) {
      padding-top: 3em;
      padding-bottom: 3em;
    };
		opacity: 0;
		visibility: hidden;
		&.swiper-slide-active {
			opacity: 1;
			visibility: visible;
		}
  }
  .swiper-pagination {
    bottom: 4em;
    left: 3em;
    right: 3em;
    text-align: left;
    @include media(m, 450) {
      left: 3.8em;
      right: 3.8em;
    };
    .swiper-pagination-bullet {
      width: 3.25em;
      height: .4em;
      border: 1px solid var(--border-color-base-secondary);
      border-radius: 1px;
      
      background-color: rgba(11, 11, 13, 0);
      opacity: 0.8;
      margin-left: 0.5em;
      margin-right: 0.5em;
      @include media(m, 450) {
        margin-left: 1em;
        margin-right: 1em;
      };
      &.swiper-pagination-bullet-active {
        background-color: var(--background-color-fourth);
        opacity: 1;
      }
    }
  }
}

.carousel-offer__content {
  padding-bottom: 7em;
  @include media(m, 450) {
    max-width: 400px;
  };
  @include media(m, $md) {
    max-width: 500px;
  };
  @include media(m, $lg) {
    max-width: 700px;
  };
}
.carousel-offer__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  @include media(m, $sm) {
    background-position: 50% 40%;
  };
  @include media(m, $md) {
    background-position: 70% 40%;
  };
  @include media(d, $sm) {
    // background-position: 70% 50%;
    display: none;
  };
}

.carousel-offer__container {
  position: relative;
  @extend .container;
  z-index: 2;
}

.carousel-offer__title {
  position: relative;
  color: var(--color-font-secondary);
  padding-top: 2em;
  padding-left: 2.3em;
  @include media(m, 450) {
    padding-top: 2.8em;
    padding-left: 3.4em;
  };
  &:before {
    content: '';

    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

    width: 5em;
    height: 5em;
    
    background-color: var(--background-color-secondary);
    
    border-radius: 50%;
    @include media(m, 450) {
      width: 6.75em;
      height: 6.75em;
    };
  }
  h3 {
    font-weight: 600;
    line-height: 1.5;
    
    font-size: var(--size-title-third);
    @include media(m, 450) {
      font-size: var(--size-title-secondary);
    };
    strong {
      font-size: var(--size-title-secondary);
      font-weight: 900;
      color: var(--color-font-fourth);
      text-transform: uppercase;
      @include media(m, 450) {
        font-size: var(--size-title-primary-third);
      };
      @include media(m, $lg) {
        font-size: var(--size-title-primary-secondary);
      };
    }
  }
  h2 {
    font-size: var(--size-title-secondary);
    text-transform: uppercase;
    line-height: 1.313;
    font-weight: 900;
    @include media(m, 450) {
      font-size: var(--size-title-primary-third);
    };
    @include media(m, $lg) {
      font-size: var(--size-title-primary-secondary);
    };
    span {
      color: var(--color-font-attention);
    }
  }
}