<div class="section section-advantages">
  <div class="section__background-advantages-top" style="background-image: url(img/section-advantages-top.png);">&nbsp;</div>
  <div class="section__container">
    <div class="section-layout__title">
      <h2 class="title-section">Что мы лечим</h2>
    </div>
    <div class="section__container-secondary">
      <div class="section__background-advantages-first" >
				<img class="section__background-advantages-first-img section__background-advantages-first-img--first" src="img/img-section-advantages-first-0.png" alt="">
				<img class="section__background-advantages-first-img section__background-advantages-first-img--second" src="img/img-section-advantages-first-1.png" alt="">
				<img class="section__background-advantages-first-img section__background-advantages-first-img--third" src="img/img-section-advantages-first-2.png" alt="">
			</div>
      <div class="section__row">
        <div class="section__column section__column--advantages">
          <div class="section__column-in">
            <div class="text-primary">Уникальный состав специалистов международного уровня (грузия, Австрия, Узбекистан)</div>
          </div>
        </div>
        <div class="section__column section__column--advantages">
          <div class="section__column-in">
            <div class="text-primary">Ультрасовременный  метод аллергодиагностики</div>
          </div>
        </div>
        <div class="section__column section__column--advantages">
          <div class="section__column-in">
            <div class="text-primary">Инновационные подходы в диагностике аллергии (приктесты, спирометрия, FeNo-метрия)</div>
          </div>
        </div>
        <div class="section__column section__column--advantages">
          <div class="section__column-in">
            <div class="text-primary">Аллерген специфическая иммунотерапия, отвечающая европейскому стандарту.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="section__more-advantages">
      <div class="section__more-advantages-bg" style="background-image: url(img/section-advantages-list-bg.jpg);">&nbsp;</div>
      <div class="section__row-secondary">
        <div class="section__column-secondary section__column-secondary--nav">
          <a class="button active" href="#">Аллерголог детский</a>
          <a class="button" href="#">Аллерголог взрослый</a>
          <a class="button" href="#">Аллерголог, клинический иммунолог</a>
          <a class="button" href="#">Лабораторные исследования</a>
        </div>
        <div class="section__column-secondary section__column-secondary--list">
          <div class="section__column-secondary-in">
            <div class="section__content">
              <h2>Когда следует обращаться к детскому аллергологу?</h2>
              <div class="list-base">
                <ul>
                  <li><span>У ребенка наблюдается сезонный или постоянный насморк и слезотечение</span></li>
                  <li><span>Регулярно ночью повторяется сухой кашель</span></li>
                  <li><span>В легких слышатся хрипы, бывают приступы удушья</span></li>
                  <li><span>Наблюдается зуд и першение в горле</span></li>
                  <li><span>На коже проявляются необычные реакции и сыпь</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section__background-advantages-bottom" style="background-image: url(img/section-advantages-bottom.png);">&nbsp;</div>
</div>