<div class="section section-mission">
  <div class="section__row-flex">
    <div class="section__column section__column--mission">
      <div class="section__des-title"><img class="section__des-title-img" src="img/section-mission-txt.png" alt=""></div>
      <div class="section__des-title"><img class="section__des-title-img" src="img/section-mission-txt-2.png" alt=""></div>
      <div class="section__des-title"><img class="section__des-title-img" src="img/section-mission-txt.png" alt=""></div>
    </div>
    <div class="section__column section__column--mission">
      <div class="section__content">
        <div class="section__row">
          <div class="section__column">
            <div class="img-thumb img-thumb-base" style="background-image: url(img/section-mission-img.png);">&nbsp;</div>
          </div>
          <div class="section__column">
            <div class="img-thumb img-thumb-base" style="background-image: url(img/section-mission-img-2.png);">&nbsp;</div>
          </div>
          <div class="section__column">
            <div class="img-thumb img-thumb-base" style="background-image: url(img/section-mission-img-3.png);">&nbsp;</div>
          </div>
        </div>
        <div class="text-secondary">
          <p>
            International Allergy Center  новое слово в проведении  профессиональной диагностики и  лечении  всех видов аллергии . Наш центр  оказывает полный спектр услуг, отвечающий европейскому  уровню и стандартам. В нашем Центре существует уникальный спектр индивидуальных аллергенов по крови (более 200,начиная от аллергии на растения заканчивая аллергией на лекарственные препараты).
          </p>
        </div>
      </div>
      <a class="link-third-secondary" href="partners.html">
        <span class="link-third-secondary__txt">Это интересно</span>
        <div class="link-third-secondary__icon-wrap">
          <svg class="link-third-secondary__icon svg-icon"><use xlink:href="../img/svgSprite.svg#arrow-long"></use></svg>
        </div>
      </a>
    </div>
  </div>
</div>