<div class="section section-offer">
  
  <div class="carousel-offer">
    <div class="swiper-container" data-carousel="offer">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="carousel-offer__img" style="background-image: url(img/section-offer-1.jpg);">&nbsp;</div>
          <div class="carousel-offer__container">
            <div class="carousel-offer__content">
              <div class="carousel-offer__title">
                <h3>Жизнь <br> <strong>без аллергии</strong> это...</h3>
                <h2>возможность обрести <span>друга</span></h2>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          
          <div class="carousel-offer__img" style="background-image: url(img/section-offer-2.jpg);">&nbsp;</div>
          <div class="carousel-offer__container">
            <div class="carousel-offer__content">
              <div class="carousel-offer__title">
                <h3>Жизнь <br> <strong>без аллергии</strong> это...</h3>
                <h2>возможность обрести <span>друга</span></h2>
              </div>
            </div>
          </div>
        
        </div>
        <div class="swiper-slide">
          
          <div class="carousel-offer__img" style="background-image: url(img/section-offer-3.jpg);">&nbsp;</div>
          <div class="carousel-offer__container">
            <div class="carousel-offer__content">
              <div class="carousel-offer__title">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, quas!</h3>
                <h2>возможность обрести Lorem ipsum dolor sit amet.</h2>
              </div>
            </div>
          </div>
        
        </div>
        <div class="swiper-slide">
          
          <div class="carousel-offer__img" style="background-image: url(img/section-offer-4.jpg);">&nbsp;</div>
          <div class="carousel-offer__container">
            <div class="carousel-offer__content">
              <div class="carousel-offer__title">
                <h3>Жизнь <br> <strong>без аллергии</strong> это...</h3>
                <h2>возможность обрести <span>друга</span></h2>
              </div>
            </div>
          </div>
        
        </div>
        <div class="swiper-slide">
          
          <div class="carousel-offer__img" style="background-image: url(img/section-offer-5.jpg);">&nbsp;</div>
          <div class="carousel-offer__container">
            <div class="carousel-offer__content">
              <div class="carousel-offer__title">
                <h3>Жизнь <br> <strong>без аллергии</strong> это...</h3>
                <h2>возможность обрести <span>друга</span></h2>
              </div>
            </div>
          </div>
        
        </div>
      </div>
    </div>
    <div class="carousel-offer__container">
      <div class="swiper-pagination swiper-pagination--offer"></div>
    </div>
  </div>
  
  
</div>