<header class="header">
  <div class="header__bg">&nbsp;</div>
  <div class="header__container">
    <div class="header__row">

      <div class="header__column header__column--logo">
        <a class="logo-header" href="/">
          <img src="img/logo.png" alt="">
        </a>
      </div>
      
      <div class="header__column header__column--menu">
        <nav class="list-menu">
          <ul>
            <li class="active">
              <a href="about.html">О центре</a>
              <ul>
                <li><a href="#">история создания</a></li>
                <li><a href="#">наши партнеры</a></li>
                <li><a href="#">сертификаты</a></li>
              </ul>
            </li>
            <li><a href="faq.html">что мы лечим</a></li>
            <li><a href="#">Услуги</a></li>
            <li><a href="doctors.html">наши врачи</a></li>
            <li><a href="#">пациентам</a></li>
            <li><a href="#">АСИТ</a></li>
            <li><a href="#">контакты</a></li>
          </ul>
          <button class="list-menu__close" type="button" data-toggle data-target=".list-menu">
            <svg class="svg-icon"><use xlink:href="img/svgSprite.svg#close"></use></svg>
          </button>
        </nav>
        <button class="button-menu" type="button" data-toggle data-target=".list-menu">
          <svg class="svg-icon"><use xlink:href="img/svgSprite.svg#burger"></use></svg>
        </button>
      </div>
      

      
      
      
      <div class="header__column header__column--lang">
        <div class="lang-header">
          <div class="lang-header__in">
            <ul>
              <li class="active">
                <a href="/">ru</a>
              </li>
              <li>
                <a href="/">en</a>
              </li>
              <!-- <li>
                <a href="/">uz</a>
              </li> -->
            </ul>
            <div class="lang-header__icon-wrap">
              <svg class="lang-header__svg-icon svg-icon"><use xlink:href="img/svgSprite.svg#global"></use></svg>
            </div>
          </div>
        </div>
      </div>

      <div class="header__column header__column--search">
        <div class="form-search-header">
          <form class="form-search-header__form">
            <button class="form-search-header__button" type="button" data-toggle data-target=".form-search-header">
              <svg class="svg-icon"><use xlink:href="img/svgSprite.svg#zoom"></use></svg>
            </button>
            <div class="form-search-header__form-group">
              <input class="form-search-header__input" placeholder="Что ищем?" type="search" name="search" id="form-control-search" autocomplete="off">
            </div>
          </form>
        </div>
      </div>
      
    </div>
  </div>
</header>