.form {

}
.form__group {
  position: relative;
  margin-bottom: 1.5em;
  &--error {
    .form__error {
      display: block;
    }
    .form-control {
      border-bottom-color: var(--border-color-error);
      color: var(--color-font-error);
      @include iph() {
        color: var(--color-font-error);
      }
    }
    .choices__inner {
      border-bottom-color: var(--border-color-error);
      color: var(--color-font-error);
    }
    .choices[data-type*=select-one]:after {
      border-left-color: var(--border-color-error);
      border-bottom-color: var(--border-color-error);
    }
    .form-checkbox__pseudo-icon {
      border-color: var(--border-color-error);
    }
  }
}
.form__row {
  @extend .row;
}
.form__group-column {
  @extend .column;
  &--half {
    width: 100%;
    @include media(m, $md) {
      max-width: 50%;
      flex: 0 0 50%;
    };
  }
}
.form__error {
  position: absolute;
  top: 100%;
  margin-top: 10px;
  color: var(--color-font-error);
  font-weight: 600;
  display: none;
}

@import './form-contacts'