.title-primary-secondary {
  @extend .title-primary;
  position: relative;
  padding-left: 0.95em;
  font-weight: 700;
  color: var(--color-font-secondary);
  @include media(d, $xl) {
    font-size: 3.5em;
  };
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    z-index: -1;

    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;

    background-color: var(--background-color-secondary);
  }
  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0.15em;
    transform: translate(0, -70%);
    z-index: -1;

    width: 0.55em;
    height: 0.55em;
    border-radius: 50%;

    background-color: var(--background-color-fourth);
  }
}