.header {
  position: relative;
  z-index: 2;
  padding-top: 1.5em;
  @include media(m, $xl) {
    padding-top: 6.625em;
  };
}

.header__bg {
  position: absolute;
  right: 0;
  top: 0;
  width: 70%;
  height: 26.7em;

  background-image: url('../img/header-bg.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__container {
  @extend .container;
  @extend .container--secondary;
}
.header__row {
  @extend .row;
  @include media(d, $sm) {
    margin-left: -5px;
    margin-right: -5px;
  };
}


.header__column {
  @extend .column;
  @include media(d, $sm) {
    padding-left: 5px;
    padding-right: 5px;
  };
  &--logo {
    @include media(d, $md) {
      max-width: 180px;
    };
    @include media(d, 400) {
      max-width: 110px
    };
  }
  &--menu {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    flex-grow: 1;
    @include media(m, $md) {
      margin-left: 15px;
    };
    .list-menu {
    }
    .button-menu {
      position: relative;
      margin-left: auto;
      margin-right: -30px;
      @include media(m, $xll) {
        display: none;
      };
      @include media(d, $sm) {
        margin-right: -25px;
      };
    }
  }
  &--sub {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    // margin-bottom: .625em;
  }
  &--lang {
    @extend .header__column--sub;
    // margin-left: auto;
    padding-right: 0;
    @include media(m, $xxl) {
      padding-right: 15px;
    };
  }
  &--search {
    @extend .header__column--sub;
    padding-left: 0;
  }
}