.form-control {
  @extend .button-clear;
  display: block;
  width: 100%;
  border-bottom: 1px solid var(--border-color-fifth);
  padding-bottom: 1.1em;

  font-size: var(--size-text-secondary);
  color: var(--color-font-base);
  line-height: 1;
  text-align: left;
  
  @include iph() {
    font-style: italic;
    font-size: var(--size-text-secondary);
    color: var(--color-font-base);
  }
}
// @import './form-control-base';