.form-control-base {
  @extend .form-control;
  border-bottom: 1px solid var(--border-color-fifth);
  font-size: var(--size-text-secondary);
  color: var(--color-font-base);
  line-height: 1;
  padding-bottom: 1.1em;
  @include iph() {
    font-style: italic;
    font-size: var(--size-text-secondary);
    color: var(--color-font-base);
  }
}