h1 {
  font-size: var(--size-title-primary);
}
h2 {
  font-size: var(--size-title-secondary);
}
h3 {
  font-size: var(--size-title-third);
}
h4 {
  font-size: var(--size-title-fourth);
}
h5 {
  font-size: var(--size-title-fifth);
}
h6 {
  font-size: var(--size-title-sixth);
}
p {

}
b, strong {
  font-weight: 600;
}
em, i {

}
u {

}
s {

}

ol {

}
ul {

}
a {
  color: var(--color-font-secondary);
  text-decoration: underline;
  &:hover {
    // color: $fontColorFirst;
    text-decoration: none;
  }
}
blockquote {
  position: relative;
  padding: 20px 50px;

  font-size: var(--size-text-primary);

  border-radius: 5px;
  background-color: var(--background-color-blockquote-base);
  &:before, &:after {
    content: '';
    position: absolute;

    width: 15px;
    height: 15px;

    background: url('../img/quotes.svg') 50% 50% no-repeat;
    background-size: cover;
  }
  &:before {
    top: 10px;
    left: 15px;
  }
  &:after {
    bottom: 10px;
    right: 15px;
  }
}

.devider {
  
}

small, time {
  font-size: var(--size-base);
}

img {
  max-width: 100%;
  height: auto;
}
