html {
  font-size: var(--size-base);
  @include media(m, $md) {
    font-size: var(--size-base-md);
  };
  @include media(m, $xxl) {
    font-size: var(--size-base-xxl);
  };
}

body {
  font-size: var(--size-text-base);
  line-height: 1.5;
  font-family: var(--font-family-primary), sans-serif;
  background-color: var(--background-color-base);
  color: var(--color-font-base);
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .footer {
    margin-top: auto;
  }
}

.app__in {
  padding-top: 2em;
  padding-bottom: 2em;
}